/* ESTILOS GENERALES PARA PAGE, HEADER, NAV Y FOOTER EN TODAS LAS PÃGINAS */


* {
	padding: 0px;
	margin: 0px;
}

/* PAGE */

#page {
	width: 1520px;
	height: 900px;
	margin: 0px 200px 0px 200px;
	font-family: 'Nunito', sans-serif;
}

/* HEADER */

#page > header {
	border-bottom: solid 1px gray;
	width: 1520px;
	height: 99px;
	margin-top: 50px;
	margin-bottom: 20px;
}

#page > header > h1 {
	font-size: 65px;
	height: 72px;
}

#page > header > h3 {
	color: gray;
}

/* NAV */

#page > nav {
	height: 48px;
	width: 1518px;
	border: solid 1px gray;
}


#page > nav > ul > li{
	list-style-type: none;
	height: 48px;
	width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	background-color: #A69191;
	color: white;
}

#page > nav > ul > li:nth-child(1){
	float: left;
}

#page > nav > ul > li:nth-child(1) > a{
	text-decoration: none;
	color: white;
	transition: 0.3s;
}

#page > nav > ul > li:nth-child(1) > a:hover{
	color: black;
}


#page > nav > ul > li:nth-child(2){
	float: right;
}

#page > nav > ul > li:nth-child(2) > a{
	text-decoration: none;
	color: white;
	transition: 0.3s;
}

#page > nav > ul > li:nth-child(2) > a:hover{
	color: black;
	transition: 0.3s;
}

#page > nav > ul > li:nth-child(2) > ul {
	list-style-type: none;
	display: none;
	position: absolute;
	z-index: 1;
	border:1px solid gray;
	text-align: center;
	width: 299px;
}

#page > nav > ul > li:nth-child(2):hover > ul {
	display: block;
	background-color: #A69191;
	visibility: visible;
}


#page > nav > ul > li:nth-child(2) > ul > li {
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
} 

#page > nav > ul > li:nth-child(2) > ul > li > a {
	text-decoration: none;
	color: white;

}

#page > nav > ul > li:nth-child(2) > ul > li > a:hover {
	color: black;
	transition: 0.3s;
}

/* FOOTER */

#page > footer {
	height: 100px;
	margin-bottom: 50px;
	width: 1520px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #A69191;
}

#page > footer > ul {
	list-style-type: none;
	font-size: 25px;
}



#page > footer > ul > li:nth-child(1) {
	float: left;
	margin-right: 400px;
}

#page > footer > ul > li:nth-child(2) {
	float: left;
	color: black;
}

#page > footer > ul > li:nth-child(3) {
	float: right;
	margin-left: 400px;
}

#page > footer > ul > li > a{
	text-decoration: none;
	color: white;
	transition: 0.3s;
}

#page > footer > ul > li > a:hover{
	color: black;
	transition: 0.3s;
}

/* RESPONSIVE GENERAL */

/* Basado en una pantalla 1366x768 */

@media (max-width: 1366px) {

	/* PAGE */

	#page {
		width: 968px;
		height: 639px;
	}

	/* HEADER */ 

	#page > header {
		width: 968px;
		height: 70.2px;
		margin-top: 30px;
		margin-bottom: 14.2px;
	}

	#page > header > h1 {
		font-size: 46px;
		height: 51px;
	}

	#page > header > h3 {
		font-size: 15px;
	}

	/* NAV */

	#page > nav {
		height: 34px;
		width: 966px;
	}

	#page > nav > ul > li{
		height: 34.08px;
		width: 213px;
		font-size: 15px;
	}

	#page > nav > ul > li:nth-child(2) > ul {
		width: 212px;
	}


	#page > nav > ul > li:nth-child(2) > ul > li {
		height: 34.08px;
	} 

	/* FOOTER */

	#page > footer {
		height: 71px;
		margin-bottom: 35.5px;
		width: 968px;
	}

	#page > footer > ul {
		font-size: 17.75px;
	}


	#page > footer > ul > li:nth-child(1) {
		margin-right: 284px;
	}

	#page > footer > ul > li:nth-child(3) {
		margin-left: 284px;
	}

	/* Optimizada para tablets */

@media (max-width: 1024px) {
	
	#page {
		margin: 0px auto;
		}

	}
}